* {
    box-sizing: border-box;
}

.kath-logo {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.kath-logo img {
    width: 400px;
    max-width: 100%;
    padding: 1rem;
        border: 2px solid black;
        border-radius: 30px;
}

main {
    max-width: 1100px;
    margin: 0 auto;
}

main p {
    font-size: 1.2rem;
}

.rutor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(101, 158, 204);
    align-items: stretch;
}

.rutor img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    object-position: center 30%;
}   

.rutor-text {
    padding: 1rem 2rem;
}

.teachers {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 30px;
}

.teachers-text {
    padding-right: 2rem;
}

.bold {
    font-weight: 600;
}
.contactPersons {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid black;
       margin: 0 auto;
    line-height: 0.1;
}

.contactPersons img {
    max-width: 300px;
    max-height: 200px;
    object-fit: cover;
    object-position: center 10%;
    filter: drop-shadow(4px 4px 3px #4e4e4e);
}

.space {
    margin-bottom: 40px;
}

hr {
    margin-bottom: 40px;
}

h1 {
    margin-top: 0;
}

@media (max-width: 900px) {
    .kath-logo {
      display: none;
    }
  .rutor {
    display: grid;
    grid-template-columns: 1fr;
  }

  .rutor img {
    display: none;
  }
 
    main {
    margin: 20px;
  }

  .teachers {
    display: flex;
    flex-direction: column;
  }

 .contactPersons {
    margin: 10px;
 }

 .contactPersons img {
    max-width: 100%;
    max-height: 100%;
 }
 
 hr {
    margin-bottom: 20px;
 }

}